<div class="container fixed-container">
    <h5>Please submit the below details to create a Monitor</h5>
    <div class="row custom-form">
        <form>
            <div class="col-md-3 mt-3 mb-2">
              <label for="kafkaTopics" class="form-label">Kafka Topics</label>
              <input type="text" class="form-control" name="kafkaTopics" id="kafkaTopics" [(ngModel)]="formData.kafkaTopics" aria-describedby="kafkaTopics" autocomplete="off">
            </div>
            <div class="col-md-3 mb-2">
                <label for="consumerGroupId" class="form-label">Consumer Group ID</label>
                <input type="text" class="form-control" [(ngModel)]="formData.consumerGroupId" name="consumerGroupId" id="consumerGroupId" aria-describedby="consumerGroupId" autocomplete="off">
            </div>
            <div class="col-md-3 mb-2">
                <label for="monitorType" class="form-label">Monitor Type</label>
                 <select class="form-select" [(ngModel)] = "formData.selectedMointorItem" name="selectedMointorItem" (change)="onMonitorTypeSelected()">
                    <option *ngFor="let item of monitorListItems" [value]="item">{{item}}</option>
                </select>
                <span *ngIf="this.formErrors.selectedMointorItem" class="form-error-message">{{this.formErrors.selectedMointorItem}}</span>
            </div>
           
            <div class="col-md-3 mb-2">
                <label for="alertThreshold" class="form-label">Alert Threshold</label>
                <input type="number" class="form-control" [(ngModel)]="formData.alertThreshold" name="alertThreshold" id="alertThreshold" aria-describedby="alertThreshold" autocomplete="off">
            </div>
            <div class="col-md-3 mb-2">
                <label for="recoveryThreshold" class="form-label">Recovery Threshold</label>
                <input type="number" class="form-control" [(ngModel)]="formData.recoveryThreshold" name="recoveryThreshold" id="recoveryThreshold" aria-describedby="recoveryThreshold" autocomplete="off">
            </div>
            <div class="col-md-3 mb-2">
                <label for="environment" class="form-label">Environment</label>
                 <select class="form-select" [(ngModel)] = "formData.selectedEnvItem" name="selectedEnvItem" (change)="onEnvSelected()">
                    <option *ngFor="let item of envListItems" [value]="item">{{item}}</option>
                </select>
                <div *ngIf="this.formErrors.selectedEnvItem" class="form-error-message">{{this.formErrors.selectedEnvItem}}</div>
            </div>
            <div class="col-md-3 mb-2">
                <label for="notificationEmail" class="form-label">Notification Email</label>
                <input type="email" class="form-control" [(ngModel)]="formData.notificationEmail" name="notificationEmail" id="notificationEmail" aria-describedby="emailHelp" autocomplete="off">
                <div *ngIf="!this.formErrors.notificationEmail" id="emailHelp" class="form-text">{{this.formErrors.notificationEmail}}</div>
                <div *ngIf="this.formErrors.notificationEmail" class="form-error-message">Please enter valid email</div>
            </div>
            <button type="submit" (click)="submitForm()" class="btn btn-primary">Submit</button>
          </form>
          <span *ngIf="successMessage"class="success-message">File uploaded and downloaded as JSON successfully!   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
          </svg> </span>
    
          <span *ngIf="errorMessage"class="error-message">Error!  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg></span>
    </div>
</div>