
<div class="container">
  <div class="row">
    <h1 class="h1">Welcome to DataDog Monitor Creator!</h1>
    <div class="col-md-6">
      <input type="file" #csvFileData class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" (click)="uploadCSV(csvFileData)">Upload File</button>
    </div>
  </div>
</div>

<!-- <select [(ngModel)] = "selectedItem" (change)="onItemSelected()" style="margin: 10px;">
  <option *ngFor="let item of listItems" [value]="item">{{item}}</option>
</select> -->



