
.fixed-container{
  margin-top: 60px;
}
.heading{
  text-align: center;
}
.custom-form{
  margin-left: 20%;
  margin-top: 55px;
}
.success-message{
  color:green;
  margin-top: 20px;
  margin-left: 50px;
}
.error-message{
  color:red;
  margin-top: 20px;
  margin-left: 50px;
}