
<div class="container fixed-container">
  <div class="row">
    <h1 class="h1 heading">Welcome to DataDog Monitor Creator!</h1>
  </div>
  <hr>
  <div class="row upload-options mx-auto" align-items-center>
    <label class="form-label" class="form-check col-md-3">How do you want to upload ?</label>
    <div *ngFor="let option of options" class="form-check col-md-2">
      <input class="form-check-input" [(ngModel)]="selectedOption" [value]="option" type="radio" name="options" id="manulaUpload" [checked]="selectedOption === option">
      <label class="form-check-label" for="flexRadioDefault1">
        {{option}}
      </label>
    </div>
  </div>

  <div *ngIf="selectedOption === 'Manual Upload'" class="row">
    <app-manual-upload></app-manual-upload>
  </div>

  <div *ngIf="selectedOption === 'Bulk Upload'" class="row">
    <app-bulk-upload></app-bulk-upload>
  </div>
</div>




